# ignore folders
data/
models/
experiments/
old/
.venv/
__pycache__/
DIDC_multiclass_coro_v2*/
test/

.DS_Store

# Ignore links
data
DIDC_multiclass_torso_dictionary
New_dictionary
DIDC_multiclass_coro_v2